html, body {
	height: 100%;
	width : 100%;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
}

/**
 * Ceci applique une couleur sur tous les éléments
 * ayant la classe rouge.
 */
.rouge {
	color: red;
}

/**
 * Ceci aligne le texte de tous les titres de niveau 
 * 1 de manière centrée
 **/
h1 {
	text-align: center;
}

.maClasse {
	width: 100%;
	border: 2px dashed blue;
}
#map {
   height: 90%;
   width : 100%;
}

#txtarea{
   width:100%
}

#btnanglais{
   width:100%
}

#btnfrancais{
   width:100%
}

#autoComplete{
	position: absolute;
	background-color: white;
	z-index: 99;
	border: 2px solid black;
	width : 95%;
}

#autoComplete tr:hover{ /* lorsqu'on fait passer la souris sur les cases du autocomplete */
	background-color: gray;
	width : 100%;
}

